rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contenidos/{doc} {
      allow read: if true;
      allow write: if false;
    }
    match /sesiones/{doc} {
      allow read, write: if true;
    }
  }
}
